html{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  position: relative;
  width: 100%;
  margin: 0px;
}


div#pasteLinkDiv{
  width: 75vw;
}

textarea{
  width: 75vw;
}

a{
  transition: 0.3s;
}
a:hover{
  margin-left: 10px;
}