html{
  font-family: Arial, Helvetica, sans-serif;
  padding: 0%;
}

body{
  overflow-x: hidden;
  padding: 0%;
}

p{
  position: relative;
  width: 100%;
  margin: 0px;
}


div#pasteLinkDiv{
  width: 100vw;
  height: 6vh;
  position: fixed;
  bottom: 0px;
  vertical-align: bottom;
}

textarea{
  width: 80vw;
  height: 20px;
  resize: none;
  display: inline;
  padding: 0%;
  margin: 2px;
  vertical-align: top;
  border: 2px solid black;
  padding: 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px;
  overflow: hidden;
}

button{
  width: 7vw;
  display: inline;
  padding: 0%;
  height: 43px;
  margin: 2px;
  vertical-align: top;
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button:hover{
  background-color: black;
  color: white;
}

a{
  transition: 0.3s;
}
a:hover{
  margin-left: 10px;
}



.strobe{
  animation: strobe 0.1s infinite;
}
@keyframes strobe {
  0%, 49%{opacity: 1;}
  50%, 99%{opacity: 0;}
  100%{opacity: 1}
}


.rave{
  animation: rave 0.5s infinite;
}
@keyframes rave {
  0%{
    background-color: white;
  }
  100%{
    background-color: black;
  }
  
}



.slide{
  animation: slide 4s linear infinite;
  position: relative;
  left: 100%;
  width: 100%;
  border: none;
}
@keyframes slide{
  0%{
    left: 100%;
  }
  100%{
    left: -100%;
  }
  
}


.periodic{
  animation: strobe 1s infinite;
}
@keyframes strobe {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100%{opacity: 1}
}








canvas{
  position: fixed;
  z-index: -1;
  margin: 0px;
  padding: 0%;
}