html{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  position: relative;
  width: 100%;
  margin: 0px;
}


div#pasteLinkDiv{
  width: 50%;
  position: fixed;
  z-index: 10;
  margin-left: 25%;
  margin-top: 20%;
}
